{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            Task Update
        </div>
        <div class="card body">
            <form method="post" style="margin: 15px auto; padding: 20px; border-radius: 10px;">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" style="background-color: rgb(238, 20, 20)">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}